# Python Data Types

Examples from Programiz

## Python Numbers

In [1]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print("Is", a, "a complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
Is (1+2j) a complex number? True

## Python List

In [2]:
a = [1, 2.2, 'python']

print(type(a))

<class 'list'>

In [3]:
a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]

In [4]:
a = [1, 2, 3]
print(a)
a[2] = 4
print(a)

[1, 2, 3]
[1, 2, 4]

## Python Tuple

In [5]:
t = (5,'program', 1+3j)

print(t)

(5, 'program', (1+3j))

In [6]:
t = (5,'program', 1+3j)

# t[1] = 'program'
print("t[1] = ", t[1])

# t[0:3] = (5, 'program', (1+3j))
print("t[0:3] = ", t[0:3])

# Generates error
# Tuples are immutable
# t[0] = 10

t[1] =  program
t[0:3] =  (5, 'program', (1+3j))

## Python Strings

In [7]:
s = "This is a string"
print(s)
s = '''A multiline
string'''
print(s)

This is a string
A multiline
string

In [8]:
s = 'Hello world!'

# s[4] = 'o'
print("s[4] = ", s[4])

# s[6:11] = 'world'
print("s[6:11] = ", s[6:11])

# Generates error
# Strings are immutable in Python
# s[5] ='d'

s[4] =  o
s[6:11] =  world

## Python Set

In [9]:
a = {5,2,3,1,4}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

a =  {1, 2, 3, 4, 5}
<class 'set'>

In [10]:
# Sets have unique values
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

## Python Dictionary

In [11]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [12]:
d = {1:'value','key':2}
print(type(d))

print("d[1] = ", d[1]);

print("d['key'] = ", d['key']);

# Generates error
# print("d[2] = ", d[2]);

<class 'dict'>
d[1] =  value
d['key'] =  2

## Conversion between data types

In [13]:
float(5)

5.0

In [14]:
int(10.6)

10

In [15]:
int(-10.6)

-10

In [16]:
float('2.5')

2.5

In [17]:
str(25)

'25'

In [18]:
a = [1,2,3]
print(a)
print(type(a))
print(type(set(a)))
set(a)

[1, 2, 3]
<class 'list'>
<class 'set'>

{1, 2, 3}

In [19]:
a = {5,6,7}
print(a)
print(type(a))
print(type(tuple(a)))
tuple(a)

{5, 6, 7}
<class 'set'>
<class 'tuple'>

(5, 6, 7)

In [20]:
a = 'hello'
print(a)
print(type(a))
print(type(list(a)))
list(a)

hello
<class 'str'>
<class 'list'>

['h', 'e', 'l', 'l', 'o']

In [21]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [22]:
dict([(3,26),(4,44)])

{3: 26, 4: 44}